BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux                    # Like "Attach", but break before braces on function, namespace and class definitions
# SpaceBeforeParens: ControlStatements
# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None      # None, InlineOnly, Empty, Inline, All
PackParameters:
  BinPack: OnePerLine                       # BinPack, OnePerLine, AlwaysOnePerLine, UseBreakAfter
PackArguments:
  BinPack: OnePerLine
CompactNamespaces: true
ColumnLimit: 140
MaxEmptyLinesToKeep: 2
SortIncludes: false
FixNamespaceComments: false
PointerAlignment: Left
ReferenceAlignment: Left
IndentAccessModifiers: False                # public:, protected:, private:
AccessModifierOffset: -4
SpacesBeforeTrailingComments: 4